[Unit]
Description=migratefs overlay FUSE mount service
After=shine.service

[Service]
EnvironmentFile=-/etc/sysconfig/migratefs
ExecStart=/usr/bin/migratefs -f $OPTS $MNTPT
ExecStop=/usr/bin/umount $MNTPT

[Install]
WantedBy=local-fs.target
